<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bits & Logs | <%= title %></title>
  <link rel="stylesheet" href="/styles.css">
  <!-- we dont need to specify /public , it will automatically look in the public files as it was made static only -->
</head>