<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p> -->
    <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p> -->
    <p>A dedicated space to capture the bits and pieces of your life. Here, you can log not just the fleeting thoughts that come and go but also the meaningful moments that shape your journey. Each entry serves as a personal snapshot, a chance to reflect on the little things that collectively create the big picture of who you are. Whether it's a cherished memory, a daily observation, or an idea that sparks inspiration, this blog is your canvas to document it all. Join us in celebrating the beauty of everyday moments and the stories they tell.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>